In [62]:
#Data types and Structures Questions

In [ ]:
#1. What are data structures, and why are they important?
"""Data structures are ways to store and organize data so we can use it efficiently.
They let us add, remove, or look up data quickly, which makes programs faster and easier to write."""

In [ ]:
#2. Difference between mutable and immutable data types with examples.
"""Mutable types can change after creation.
Example: list.

Immutable types cannot change.
Example: tuple"""

In [ ]:
#3. Main differences between lists and tuples in Python
"""Lists use brackets [], tuples use parentheses ().
Lists are mutable, tuples are immutable."""

In [ ]:
#4. Describe how dictionaries store data.
"""Dictionaries store data as key–value pairs.
They use a hash table so you can look up a value by its key very quickly."""

In [ ]:
#5. Why might you use a set instead of a list in Python?
"""Sets automatically remove duplicates and let you check membership faster than lists when you have many items."""

In [ ]:
#6. What is a string in Python, and how is it different from a list?
"""A string is a sequence of characters and is immutable.
A list is a sequence of any objects and is mutable."""

In [ ]:
#7. How do tuples ensure data integrity in Python?
"""Tuples are immutable, so once created their contents cannot be changed, protecting the data from accidental modification."""

In [ ]:
#8. What is a hash table, and how does it relate to dictionaries in Python?
"""A hash table maps keys to values using a hash function.
Python’s dictionary uses a hash table for fast key lookups."""

In [ ]:
#9. Can lists contain different data types in Python?
"""Yes. A list can hold ints, strings, objects, even other lists."""

In [ ]:
#10. Explain why strings are immutable in Python.
"""Immutable strings allow Python to optimize memory and reuse string objects safely without unexpected changes."""

In [ ]:
#11. What advantages do dictionaries offer over lists for certain tasks?
"""Fast lookup by key, Clear mapping between keys and values, No need to search index by index."""

In [ ]:
#12. Describe a scenario where using a tuple would be preferable over a list.
"""When you have fixed data that should not change, like coordinates (x, y), adhaar card number, or a record of a date (year, month, day)."""

In [ ]:
#13. How do sets handle duplicate values in Python?
"""Sets automatically discard duplicates, keeping only one copy of each value."""

In [ ]:
#14. How does the in keyword work differently for lists and dictionaries?
"""For lists, x in list checks each element until it finds a match.
For dictionaries, key in dictionary checks directly in the hash table."""

In [ ]:
#15. Can you modify the elements of a tuple? Explain why or why not.
"""No. Tuples are immutable.
You cannot change, add, or remove elements once the tuple is created."""

In [ ]:
#16. What is a nested dictionary, and give an example of its use case?
"""A nested dictionary has dictionaries inside another dictionary.
Example:
students = {
    "Alice": {"age": 20, "major": "Math"},
    "Bob":   {"age": 22, "major": "Physics"}
}"""

In [ ]:
#17. Describe the time complexity of accessing elements in a dictionary.
"""On average, O(1) – constant time lookups by key"""

In [ ]:
#18. In what situations are lists preferred over dictionaries?
"""1. When order matters and you need positional access.
2. When you need to store duplicate items.
3. When you iterate over elements in sequence."""

In [ ]:
#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
"""Dictionary is an unordered collection of object because the insertion order of elements is not same as the order in which the elements are stored.
The elements are access by key, not by position."""

In [ ]:
#20. Difference between a list and a dictionary in terms of data retrieval.
"""List: retrieve by index. one must know the index position.
Dictionary: retrieve by key. Knowing index is not important"""

In [1]:
#Practical Questions

In [2]:
#1. Write a code to create a string with your name and print it.

In [7]:
name = "Pradeep Singh"
print("Hello,",name)

Hello, Pradeep Singh

In [8]:
#2. Write a code to find the length of the string "hello World".

In [9]:
print(len("Hello World"))

11

In [10]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

In [11]:
word = "Python Programming"
print(word[:3])

Pyt

In [12]:
#4. Write a code to convert string "hello" to upper case.

In [13]:
word = "hello"
print(word.upper())

HELLO

In [14]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [15]:
string1 = "I like apple"
print(string1.replace("apple","orange"))

I like orange

In [16]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

In [25]:
list1 = list(range(1,6))
print(list1)

[1, 2, 3, 4, 5]

In [26]:
#7. Write a code to append the number 10 to the list [1,2,3,4]

In [27]:
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [28]:
#8. Write a code to remove the number 3 from the list [1,2,3,4,5]

In [29]:
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [30]:
#9. Write a code to access the second element in the list ['a','b','c','d']

In [31]:
list4 = ['a','b','c','d']
print(list4[1])

b

In [32]:
#10. Write a code to reverse the list [10,20,30,40,50]

In [37]:
list5 = [10,20,30,40,50]
print(list5[::-1])

[50, 40, 30, 20, 10]

In [40]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print  it.

In [41]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [42]:
#12.  write a code to access the second to last element of the tuple ("red","green","blue","yellow")

In [45]:
tuple2 = ("red","green","blue","yellow")
print(tuple2[-2])

blue

In [46]:
#13. Write a code to find the minimum number in the tuple (10,20,5,15)

In [47]:
tuple3 = (10,20,5,15)
print(min(tuple3))

5

In [48]:
#14. Write a code to find the index of the element "cat" in the tuple ("dog","cat","rabbit")

In [51]:
tuple4 = ("dog", "cat", "rabbit")
i = tuple4.index("cat")
print(i)

1

In [1]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
fruits = ("Apple","Mango","Kiwi")
search_word = "kiwi"
if any(fruit.lower() in search_word.lower() for fruit in fruits):    #case-insensitive comparison
    print("kiwi in fruits")
else:
    print("kiwi not in fruits")

kiwi in fruits

In [6]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [8]:
set1 = {'a','b','c'}
print(set1)

{'b', 'a', 'c'}

In [9]:
#17. Wite a code to clear all the elements from the set {1,2,3,4,5}

In [12]:
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

In [13]:
#18. Write a code to remove the elemnt 4 from the set {1,2,3,4}

In [15]:
set3 = {1,2,3,4}
print(set3)
set3.remove(4)
print(set3)

{1, 2, 3, 4}
{1, 2, 3}

In [16]:
#19. Write a code to find the union of two sets {1,2,3} and {3,4,5}

In [19]:
set4 = {1,2,3}
print(set3)
set5={3,4,5}
print(set4)
print("Union of sets is", set3.union(set5))

{1, 2, 3}
{1, 2, 3}
Union of sets is {1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [21]:
set6 = {1,2,3}
print(set6)
set7 = {2,3,4}
print(set7)
print("Intersection of sets is", set6.intersection(set7))

{1, 2, 3}
{2, 3, 4}
Intersection of sets is {2, 3}

In [23]:
#21. Write a code to create dictionary with keys "name", "age", and "city" and print it

In [24]:
dict1 = {"name":"Pradeep Singh", "age":33, "city":"Udhampur"}
print(dict1)

{'name': 'Pradeep Singh', 'age': 33, 'city': 'Udhampur'}

In [25]:
#22. Write a code to create a new key-value pair "country":"USA" to the disctionary {'name':'John', 'age':25}

In [26]:
dict2 = {'name':'John', 'age':25}
print(dict2)
dict2['country'] = 'USA'
print(dict2)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated twith the key "name" in the dictionary {'name':'Alice','age':30}

In [28]:
dict3 = {'name':'Alice','age':30}
print(dict3['name'])

Alice

In [29]:
#24. Write a code to remove the key "age" from the dictionary

In [34]:
dict4 = {'name':'Bob', 'age':22, 'city':'New York'}
print(dict4)
del dict4['age']
print(dict4)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary {'name':"Alice", 'city':"Paris"}

In [36]:
dict5 = {'name':"Alice", 'city':"Paris"}

if "city" in dict5:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [37]:
#26. Write a code to create a list, a tuple, and a dictionary and print them all

In [39]:
list26 = ['Name', 'age', 'city', 2, 4, 6]
tuple26 = (4, 4, 5, 5, 6, 6)
dict26 = {"x": 7, "y": 8, "z": 9}

# Print all three
print(f"List: {list26}")
print(f"Tuple: {tuple26}")
print(f"Dictionary: {dict26}")

List: ['Name', 'age', 'city', 2, 4, 6]
Tuple: (4, 4, 5, 5, 6, 6)
Dictionary: {'x': 7, 'y': 8, 'z': 9}

In [40]:
#27. Write a code to crate a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result

In [46]:
import random
list27 = []
for i in range(6):
    list27.append(random.randint(1,10))         #using random module to generate random numbers
print(list27)
list27.sort()                             #Sorting the list in ascending order
print("sorted list", list27)

[3, 2, 6, 3, 8, 10]
sorted list [2, 3, 3, 6, 8, 10]

In [47]:
#28. Write a code to create a list with strings and print the element at the third index

In [49]:
list28 = ["Apple", "Banana", "Cherry", "Date", "Elderberry"]
print(list28[3])

Date

In [50]:
#29. Write a code to combine two disctionaries into one and print the result

In [60]:
dict29 = {"a": 1, "b": 2}
dict30 = {"c": 3, "d": 4}
print(dict29)
print(dict30)

dict29.update(dict30)          #update disctionary29 with dictionary 30
print("Combined list:",dict29)

{'a': 1, 'b': 2}
{'c': 3, 'd': 4}
Combined list: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [51]:
#30. Write a code to convert a list of strings into a set

In [61]:
list30 = ["Apple", "Banana", "Cherry", "Date", "Elderberry","Banana"]
print(list30)
set30 = set(list30)    #convert list to set
print(set30)

['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry', 'Banana']
{'Elderberry', 'Date', 'Cherry', 'Banana', 'Apple'}