In [1]:
#program to demonstrate the mutability of list and tuple

In [2]:
#declare a list and a tuple
list1 = ["Name", "Age", "Qualification"]
tuple1 = ("Name", "Age", "Qualification")

In [3]:
list1.append("Nationality")
print(list1)

['Name', 'Age', 'Qualification', 'Nationality']

In [4]:
tuple1.append("Nationality")
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
list1.insert(2,"Gender")
print(list1)

['Name', 'Age', 'Gender', 'Qualification', 'Nationality']

In [7]:
tuple1.insert(2,"Gender")
print(tuple1)

AttributeError: 'tuple' object has no attribute 'insert'

In [8]:
#we cannot directly add element in tuple, but we can create a new tuple and combine old tuple with new element.

In [20]:
tuple2 = ("Nationality",)

In [21]:
tuple3 = tuple1 + tuple2

In [22]:
print(tuple3)

('Name', 'Age', 'Qualification', 'Nationality')

In [ ]:
#we can also convert tuple to alist, edit it and then convert it back to tuple.